body {
    // background-color: #eaeabd;
}

.progress-group {
    color: $color-second;
    .progress-line {
        height: 5px;
        background-color: #ccc;
        .line {
            width: 16.666666666666667%;
            height: 100%;
            background-color: $color-second;
            transition: width 0.3s;
        }
    }
}

.quiz, .result {
    .btn {
        position: relative;
        &:not(.btn-link) {
            border-radius: 100px;
            border: 0;
            white-space: break-spaces;
        }
        &.btn-link {
            color: #999;
            text-decoration: underline;
            text-underline-position: under;
            &:hover {
                color: #666;
            }
        }
        &:focus {
            box-shadow: none;
        }
    }
}

.quiz-group {
    overflow: hidden;
    .quiz-wrap {
        display: flex;
        width: 600%;
        padding-top: 3rem;
        transition: margin-left 0.3s;
    }
}

.quiz {
    flex: 1 0 0%;
    flex-shrink: 0;
    .btn {
        &:not(.btn-link) {
            color: $color-second;
            font-size: 1.125rem;
            background-color: white;
            &:hover {
                color: white;
                background-color: lighten($color-second,10%);
            }
            img {
                position: absolute;
                bottom: -15px;
                right: 20px;
                width: 55px;
                display: none;
            }
        }
    }
    &.quiz-1 {
        .btn-link {
            display: none !important;
        }
    }
}

.result {
    display: none;
    em, .type {
        color: $color-second;
    }
    .btn-primary {
        color: white;
        background-color: $color-second;
        box-shadow: 0 0 10px rgba(black, 0.2);
        &:hover {
            background-color: darken($color-second, 10%);
        }
    }
}
