
$card-primary: #F75C2F;
$shadow:#ccc;


@mixin mobile{
	@media only screen and (max-width: 768px){
		@content;
	}
}

//共用樣式 start =================================
body {
	background-color: #FCFCFC;
	font-family: 'roboto', 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-style: normal;
	line-height: 1.75;
	color: #222;
	overflow-x: hidden;
	padding-top: 70px;
	@media only screen and (max-width: 1120px){
		padding-top: 56px;
	}
	
}
section {
	padding: 100px 0;
	@include mobile {
		padding: 60px 0;
	}
}
a {
	text-decoration: none;
}

h1 {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 30px;
    @include mobile {
      font-size: 28px;
    }
}

p {
	font-size: 18px;
	font-weight: 300;
	line-height: 1.78;
	margin-top: 0px;
	margin-bottom: 0px;
  @include mobile {
    font-size: 17px;
    line-height: 1.7;
  }
}
p+p {
	margin-top: 30px;
}

//共用樣式 end =================================



// op  -------------------------------


//s1 bodytype  -------------------------------
.title {
    text-align: center;
    margin-bottom: 50px;
    @include mobile {
      margin-bottom: 30px;
    }
}



// sponsor -------------------------------
.sp{
  .sp-logo {
    width: 120px;
    height: auto;
    // min-height: 50px;
    margin: 18px 30px;
    @include mobile {
      width: 100px;
      margin: 12px 20px;
    }
  }
}


// facebook -------------------------------
.w-full {
  width: 100%;
}
.max-w-800px {
  max-width: 800px;
}
.m-auto {
  margin: auto;
}

/* 必加 >> 跨瀏覽器強制寬度100% */
.fb_iframe_widget_fluid_desktop iframe {
  width: 100% !important;
}

// ----------buy----------
.buy-block {
	padding: 100px 0;
	.row {
		align-items: center;
	}
	.cover {
		img {
			width: 100%;
		}
	}
	.text {
		text-align: left;
		letter-spacing: 2px;
    h3 {
      font-size: 24px;
      line-height: 1.5;
      font-family: source-han-serif-tc, serif;
      margin-bottom: 18px;
    }
		h5 {
			font-size: 15px;
			a {
				color: $card-primary;
				transition: .3s;
        img {
          margin-left: 8px;
          margin-bottom: 2px;
          height: 15px;
        }

				&:hover {
					color: #000;
				}
			}

		}
	}
	@include mobile {
		padding: 80px 0;
		.text {
			text-align: center;
			margin-top: 20px;
		}

	}
}

@import 'quiz';
